<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{ site.version }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="canonical" href="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

<meta property="og:site_name" content="{{site.title}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:image" content="{% if ogimage %}{{ ogimage }}{% else %}{{site.image}}{% endif %}" />
<script async defer data-domain="moley75.co.uk" src="https://www.moley75.co.uk/js/script.file-downloads.outbound-links.pageview-props.js"></script>
</head>
